<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="SabreTools.Serialization"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="whatev-indus"
    UpgradeCode="B7D6D334-4D77-45FE-A60C-3B56D5DCE3E6">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of SabreTools.Serialization is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.ProductIcon)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Minimal" />

    <Feature Id="ProductFeature" Title="SabreTools.Serialization" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="SabreTools.Serialization" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>
